<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
    <span th:fragment="sectionName" th:text="${section.sectionName}">Section Name</span>

    <span th:fragment="sectionAlreadyCrosslisted" th:if="${section.displayCrosslistedElsewhereWarning}" title="This section is currently crosslisted into a different course">
        <svg class="rvt-icon">
            <use th:attr="'xlink:href'=@{/app/jsrivet/rvt-icons.svg#rvt-icon-exclamation}"></use>
            <span class="rvt-sr-only">Warning that this section is currently crosslisted into a different course</span>
        </svg>
    </span>
</body>
</html>