<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cross-listing Assistant</title>
</head>
<body>
<div th:fragment="termData">
    <h3 th:text="${activeTerm.name}">(Active Term Name)</h3>
    <p th:if="${#lists.isEmpty(activeCourseSections)}">None available</p>
    <ul th:unless="${#lists.isEmpty(activeCourseSections)}" class="sectionsList rvt-plain-list">
        <li th:id="'row_' + ${section.sectionId}" th:each="section : ${activeCourseSections}" th:class="${section.getAppropriateCssClass()}"
            th:attr="data-sectionId=${section.sectionId},data-sectionName=${section.sectionName},data-termId=${activeTerm.id}">
            <input type="checkbox" th:value="${section.sectionName}" th:id="${section.sectionId}" th:checked="${section.currentlyChecked}?checked" />
            <label th:for="${section.sectionId}" class="rvt-m-right-sm">
                <span th:replace="fragments/sectionNameDetails :: sectionName"></span>
                <span th:replace="fragments/sectionNameDetails :: sectionAlreadyCrosslisted"></span>
            </label>
        </li>
    </ul>
    
    <div th:if="${multiTermEnabled}">
        <!-- loop through the map to get the semester name and loop through the list of sections -->
        <div th:unless="${sectionsMap.isEmpty()}" th:each="mapInstance : ${sectionsMap}">
            <div th:if="${mapInstance.key.name != 'ALIEN_SECTION_BLOCKED'}">
                <div class="rvt-display-flex toggleGroup rvt-m-top-sm" data-toggle="collapse" th:data-target="|#${mapInstance.key.id}|" th:if="${mapInstance.key.id!=activeTerm.id}">
                    <h3>
                        <button type="button" class="rvt-button rvt-button--plain rvt-button--small toggleoverride"
                                 th:attr="aria-controls=${mapInstance.key.id}" aria-expanded="true">
                            <svg class="rvt-icon">
                                <use th:attr="'xlink:href'=@{/app/jsrivet/rvt-icons.svg#rvt-icon-chevron-down}"></use>
                            </svg>
                            <span class="rvt-m-left-xs rvt-text-regular" th:text="${mapInstance.key.name}"></span>
                            <span th:if="${#lists.isEmpty(mapInstance.value)}" class="sr-only">No sections available</span>
                        </button>
                    </h3>
                </div>
                <div th:id="${mapInstance.key.id}" class="toggler">
                    <ul class="sectionsList rvt-plain-list" th:if="${mapInstance.key.id!=activeTerm.id}">
                        <li th:if="${#lists.isEmpty(mapInstance.value)}"
                            th:attr="data-sectionId='',data-sectionName='',data-termId=${mapInstance.key.id}">None available</li>
                        <li th:id="'row_' + ${section.sectionId}" th:each="section : ${mapInstance.value}" th:class="${section.getAppropriateCssClass()}"
                            th:attr="data-sectionId=${section.sectionId},data-sectionName=${section.sectionName},data-termId=${mapInstance.key.id}">
                            <input type="checkbox" th:value="${section.sectionName}" th:id="${section.sectionId}" th:checked="${section.currentlyChecked}?checked" />
                            <label th:for="${section.sectionId}" th:text="${section.sectionName}">SP16-BL-MUS-A112-15891</label>
                            <span th:replace="fragments/sectionNameDetails :: sectionAlreadyCrosslisted"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="termDataUnavailable">
    <div th:if="${impersonationModel.includeSisSectionsInParentWithCrosslistSections && hasAlienBlocked != null && hasAlienBlocked}">
        <h2 class="rvt-ts-26">Unavailable Sections</h2>
        <p id="unavailableSections">The section(s) below cannot be crosslisted until the crosslisted sections in their parent course(s) have been removed.</p>
        <div id="dataDiv2">
            <div th:unless="${sectionsMap.isEmpty()}" th:each="mapInstance : ${sectionsMap}">
                <ul class="sectionsList rvt-plain-list" th:if="${mapInstance.key.id == 'ALIEN_SECTION_BLOCKED'}">
                    <li th:id="'row_' + ${section.sectionId}" th:each="section : ${mapInstance.value}" th:class="${section.getAppropriateCssClass()}"
                        th:attr="data-sectionId=${section.sectionId},data-sectionName=${section.sectionName},data-termId=${mapInstance.key.id}">
                        <input type="checkbox" th:value="${section.sectionName}" th:id="${section.sectionId}" disabled="disabled" />
                        <label th:for="${section.sectionId}" th:text="${section.sectionName}">SP16-BL-MUS-A112-15891</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>