<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cross-listing Assistant</title>
    <link th:href="@{/app/jsrivet/rivet-bundle.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/app/css/crosslisting.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<!-- only display this if it's in adminMode and they have entered impersonation mode -->
<div class="rvt-flex rvt-justify-end rvt-items-baseline rvt-p-all-xs impersonationBar"
     th:if="${impersonationModel != null && impersonationModel.username != null}"
     sec:authorize="hasRole(T(edu.iu.uits.lms.lti.LTIConstants).ADMIN_ROLE)">
    <span class="rvt-badge rvt-badge--warning rvt-m-right-sm">
        <span class="rvt-text-regular">Impersonating: </span><span th:text="${impersonationModel.username}">bobbytables</span>
    </span>
    <form th:action="@{|/app/${courseId}/impersonate|}" method="post">
        <button class="rvt-button rvt-button--secondary rvt-m-right-sm buttonColorOverride"
                name="action" th:value="${T(edu.iu.uits.lms.crosslist.CrosslistConstants).ACTION_END_IMPERSONATE}">Exit Impersonation Mode</button>
    </form>
</div>

<div layout:fragment="content" class="rvt-container" role="main">Page content goes here</div>

<footer th:unless="${hideFooter}" class="rvt-ts-12 rvt-container rvt-m-top-lg">
    <div th:text="${@serverInfo}"></div>
</footer>

<script type="text/javascript" th:src="@{/app/jsrivet/rivet-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/app/js/crosslisting.js}"></script>

<th:block layout:fragment="script">
    <!--
        // load in individual pages javascript
    -->
</th:block>

</body>
</html>